<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br>
    <h1 class="title">
      <div style="text-align: center;"><br> Payment with CreditCard</div>
    </h1>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <label class="label">Enter your CreditCard Credentials</label>
              <div class="control has-icons-left">
                <input type="CCnumber" maxlength="16" placeholder="1111 2222 3333 4444" class="input"
                       pattern="[0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9]" required>
                 \t   <br><input type="CCcomfirm" placeholder="123" class="input" required>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Confirm Payment
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
