<!--div class="bg-img"-->
<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <!-- column to center the content -->
    <br><br><br>
    <h1 class="title">
      <div><br> Register a Fedeltà Account!</div>
    </h1>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <form (ngSubmit)="submitForm()" #registrationForm="ngForm">
            <!-- first row -->
            <div class="columns">
              <div class="column is-6">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Text input" name="name" [(ngModel)]="name"
                           #nameInput="ngModel" required>
                  </div>
                  <p class="help is-danger" *ngIf="(nameInput.touched || nameInput.dirty) && nameInput.invalid">Name is
                    required</p>
                </div>
              </div>
              <div class="column is-6">
                <div class="field">
                  <label class="label">Surname</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Text input" name="surname" [(ngModel)]="surname"
                           #surnameInput="ngModel" required="">
                  </div>
                  <p class="help is-danger"
                     *ngIf="(surnameInput.touched || surnameInput.dirty) && surnameInput.invalid">
                    Surname is required</p>
                </div>
              </div>
            </div>
            <!-- second row -->
            <div class="columns">
              <div class="column is-6">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="address@email" pattern="[a-zA-Z._]*@[a-z.]*.[a-z]*"
                           name="email" [(ngModel)]="email" #emailInput="ngModel" required>
                  </div>
                  <p class="help is-danger" *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.invalid">
                    Proper
                    email is required</p>
                </div>
              </div>
              <div class="column is-6">
                <div class="field">
                  <label class="label">Date of birth</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="dd-mm-yyyy" maxlength="10"
                           pattern="[0-3][0-9]-[0-1][0-9]-[0-9][0-9][0-9][0-9]" name="dateOfBirth"
                           [(ngModel)]="dateOfBirth" #birthInput="ngModel" required>
                  </div>
                  <p class="help is-danger" *ngIf="(birthInput.touched || birthInput.dirty) && birthInput.invalid">
                    Proper
                    date of birth is required</p>
                </div>
              </div>
            </div>
            <!-- third row -->
            <div class="columns">
              <div class="column is-6">
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="Text input" minlength="8" name="repeatPassword"
                           [(ngModel)]="repeatPassword" #repeatPasswordInput="ngModel">
                  </div>
                  <p class="help is-danger"
                     *ngIf="(repeatPasswordInput.touched || repeatPasswordInput.dirty) && repeatPasswordInput.invalid">8
                    character password is needed</p>
                  <p class="help is-danger" *ngIf="(password != repeatPassword) && passwordInput.touched">passwords do
                  not
                  match</p>
                </div>
              </div>
              <div class="column is-6">
                <div class="field">
                  <label class="label">Confirm Password</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="Text input" minlength="8" name="password"
                           [(ngModel)]="password" #passwordInput="ngModel">
                  </div>
                  <p class="help is-danger"
                     *ngIf="(passwordInput.touched || passwordInput.dirty) && passwordInput.invalid">8 character
                    password is needed</p>
                  <p class="help is-danger" *ngIf="(password != repeatPassword) && repeatPasswordInput.touched">
                    passwords
                    do not match</p>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <label class="label">Address</label>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" name="address" placeholder="Address"  [(ngModel)]="address">
                  </div>
                </div>
              </div>
            </div>
            <!-- button -->
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-success" [disabled]="registrationForm.invalid || (password != repeatPassword)" (click)="submitForm()">
                  Register
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="box2" width="20">
      <h2>Registering a Premium <font color="red">Fedeltà™</font> account gives you a few extra benefits!<br>
        It's free to sign up, and in return you'll be able to Book your flights and get discounts with exclusive
        promotions we hand out to our <font color="red">Fedeltà™</font> members only.<br>
        Every purchase you make will allow you to accumulate <font color="red">Fedeltà™</font> points, which you can
        later convert in free tickets.<br>
        All the other services and fees are available as usual, plus you'll be notified when we release new promotions
        and discounts for all our flights!<br>
        Don't miss this chance, and sign up for an account now, it's free, it's easy, it's <font
          color="red">Fedeltà™</font>!</h2>
    </div>
  </div>
</section>

