.box {
  border: 1px #cccccc solid
}

.bg-img {
  background-image: url("/assets/img/uno.jpg") !important;
  background-position: center center;
  background-size:  cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #999;

}

.hero {
  background-image: url("/assets/img/uno.jpg") !important;
  background-size: cover;
  background-position: center center;
}


h1 {
  color: black !important;
}
