<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><br><br><br><br><br><br><a class="card-image has-text-centered">
    <img src="../../../assets/img/logo.png" alt="logo" width="200" height="100" class=centered>
  </a>
    <h1 class="title">
      <div style="color: blue; text-align: center;"><br> Triple A Flights</div>
    </h1>
    <h2 class="subtitle">
      <div style="text-align: center;">Imagination is the only limit</div>
    </h2>
  </div>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="box">
        <form (ngSubmit)="submitSearch()" #registrationForm="ngForm">
          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label class="label">Departure:</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="departureLocation">
                      <option>Any Departure</option>
                      <option>Milano</option>
                      <option>Budapest</option>
                      <option>New York</option>
                      <option>Tokyo</option>
                      <option>Mosca</option>
                      <option>Londra</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Arrival:</label>
                <div class="control">
                  <div class="select">
                    <select [(ngModel)]="landingLocation">
                      <option>Any Arrival</option>
                      <option>Milano</option>
                      <option>Budapest</option>
                      <option>New York</option>
                      <option>Tokyo</option>
                      <option>Mosca</option>
                      <option>Londra</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label class="label">Date</label>
                <div class="control is-inline-block">
                  <input class="input" maxlength="5" name="date" pattern="[0-1][0-9]/[0-3][0-9]"
                         placeholder="dd/mm" type="text" [(ngModel)]="departureDay">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <br>
                <button class="button is-success">Find Flights!</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><!--sono stupido non ho trovato modi più eleganti-->
</section>
