<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Triple A Flight
      </h1>
      <h2 class="subtitle">
        Imagination is the only limit
      </h2>
    </div>
  </div>

  <div class="container">
    <form>
      <div class="form-group"><label for="partenza">Partenza</label>
        <select class="form-control" id="partenza">
          <option selected="" value="">Scegli Partenza</option>
          <option value="Milano">Milano</option>
          <option value="Budapest">Budapest</option>
          <option value="New York">New York</option>
          <option value="Tokyo">Tokyo</option>
          <option value="Mosca">Mosca</option>
        </select></div>

      <div class="form-group"><label for="destinazione">Destinazione</label>
        <select class="form-control" id="destinazione">
          <option selected="" value="">Scegli Destinazione</option>
          <option value="Milano">Milano</option>
          <option value="Budapest">Budapest</option>
          <option value="New York">New York</option>
          <option value="Tokyo">Tokyo</option>
          <option value="Mosca">Mosca</option>
        </select></div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6"><label for="hire-date">Data Volo</label><input class="form-control" id="hire-date"
                                                                               type="date"></div>

        </div>
      </div>

      <div class="col-md-6 button">
        <button class="btn btn-primary btn-block" type="submit">Cerca voli!</button>
      </div>

    </form>
  </div>

</section>
