.hero {
  background-image: url("/assets/img/uno.jpg") !important;
  background-size: cover;
  background-position: center center;
}

.box {
  border: 1px #cccccc solid
}


h1 {
  color: blue !important;
}

h2 {
  color: black !important;
}

