<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><a class="card-image has-text-centered">
    <img src="../../../assets/img/logo.png" alt="logo" width="200" height="100" class=centered>
  </a>
    <h1 class="title">
      <div style="color: blue; text-align: center;"><br> Triple A Flights</div>
    </h1>
    <h2 class="subtitle">
      <div style="text-align: center;">Imagination is the only limit</div>
    </h2>
    <br>
    <app-search></app-search>
  </div>
</section>
