<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><br>
    <h1 class="title">
      <br>Acquisto Biglietto #<!--{{ticket.flight.id}}-->:
    </h1>

    <table class="table has-text-centered">
      <tbody>
      <tr>
        <th>Da:  </th>
        <td><!--{{ticket.flight.departureLocation}}--></td>
        <th>A:  </th>
        <td><!--{{ticket.flight.landingLocation}}--></td>
      </tr>
      <tr>
        <th>Data:  </th>
        <td><!--{{ticket.flight.departureDay}}--></td>
        <th>Partenza:  </th>
        <td><!--{{ticket.flight.departureHour}}--></td>
      </tr>
      <tr>
        <th>Prezzo:  </th>
        <th><!--{{ticket.flight.price}}-->€</th>
        <td><font size="-1">(ScontoPromo: -<!--SCONTO PROMO SE C'È)-->%)</font></td>
      </tr>
      <tr>
        <th> <button class="button is-success">
          Acquista Ora!
        </button></th>
        <th> <button class="button is-success">
          Prenota!
        </button></th>
        <th> <button class="button is-success">
          Gratis con <!--{{ticket.flight.price}}--> punti!
        </button></th>
      </tr>
      </tbody>
    </table>
    <h2><b>Saldo Punti fedeltà:  <!--{{user.fidelityCard.points}}--></b></h2>
  </div>
</section>
