<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><br>
    <table class="table has-text-centered">
      <thead>
      <tr class="is-selected">
        <th><abbr title="ID">Flight ID</abbr></th>
        <th><abbr title="From">From</abbr></th>
        <th><abbr title="To">To</abbr></th>
        <th><abbr title="DepTime">Departure Time</abbr></th>
        <th><abbr title="Date">Date</abbr></th>
        <th><abbr title="SeatsLeft">Seats Left</abbr></th>
        <th><abbr title="State">State</abbr></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>24307</th>
        <td>Roma</td>
        <td>Budapest</td>
        <td>23.00</td>
        <td>06/02</td>
        <td>3</td>
        <td>Idle</td>
      </tr>
      <tr>
        <th>84392</th>
        <td>Mosca</td>
        <td>Roma</td>
        <td>18.30</td>
        <td>07/02</td>
        <td>28</td>
        <td>Canceled</td>
      </tr>
      <tr>
        <th>31140</th>
        <td>Tokyo</td>
        <td>New York</td>
        <td>16.00</td>
        <td>09/02</td>
        <td>11</td>
        <td>Idle</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
