<!-- da togliere la data di nascita -->


<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><br>
    <h1 class="title">
      <br>Account Fedeltà:
    </h1>

    <table class="table has-text-centered">
      <tbody>
      <tr>
        <th>Nome</th>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
      </tr>
      <tr>
        <th>Indirizzo</th>
        <td>{{user.address}}</td>
        <td></td>
      </tr>
      <tr>
        <th>Compleanno</th>
        <td>{{user.dateOfBirth}}</td>
        <td></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{user.email  }}</td>
        <td></td>
      </tr>
      <tr>
        <th>Data Ultimo Acquisto</th>
        <td>{{user.fidelityCard.lastPurchaseDate}}</td>
        <td></td>
      </tr>
      <tr>
        <th>Saldo Punti fedeltà</th>
        <td>{{user.fidelityCard.points}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <h1 class="title">
      <br>Purchases and Bookings: <!--TO DO-->
      <table class="table has-text-centered">
        <thead>
        <tr class="is-selected">
          <th><abbr title="Code">Codice Volo</abbr></th>
          <th><abbr title="From">From</abbr></th>
          <th><abbr title="To">To</abbr></th>
          <th><abbr title="DepTime">Data</abbr></th>
          //ora?
          <th><abbr title="Date">Costo</abbr></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let ticket of ticketsList"> <!-- guarda come ho fatto io su acquista biglietto, l'id non va qui-->
          <td>{{ticket.flight.id}}</td>
          <td>{{ticket.flight.departureLocation}}</td>
          <td>{{ticket.flight.landingLocation}}</td>
          <td>{{ticket.flight.departureDay}}</td>
          <td>{{ticket.flight.price}}</td>
          <!--    <td> reee <button class="button is-success" routerLink="/tickets/edit-tickets/[ADD ID HERE]"> &lt;!&ndash;NON POSSO TESTARE I BOTTONI SENZA BACKEND&ndash;&gt;
                Modify Ticket!
              </button></td>-->
          <td>
            <button class="button is-success" routerLink="/ticket/buy"> <!--NON POSSO TESTARE I BOTTONI SENZA BACKEND--> <!-- sta roba non funziona perchè così mi manderesti a comprare un altro biglietto non modificheresti/cancelleresti questo-->
            Pay Booking!
          </button></td>
        </tr>
        </tbody>
      </table>
    </h1>
  </div>
</section>
