

<!-- per testing, cambiata la rotta profile da profile/{userId} a profile-->

<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body is-inline is-inline-block">
    <br><br><br><br>
    <h1 class="title">
      <br>Account Fedeltà:
    </h1>

    <table class="table has-text-centered">
      <tbody>
      <tr>
        <th>Name</th>
        <td>Mario</td>
        <td>Rossi</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>Roma</td>
        <td></td>
      </tr>
      <tr>
        <th>Birthday</th>
        <td>01/07/1990</td>
        <td></td>
      </tr>
      <tr>
        <th>Mail</th>
        <td>Mario@gay.com</td>
        <td></td>
      </tr>
      <tr>
        <th>Premium since</th>
        <td>02/08/2001</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <h1 class="title">
      <br>Purchases and Bookings: <!--TO DO-->
    </h1>
  </div>
</section>
