<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <form (submit)="submitSearch()">
        <div class="columns">
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Departure:</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="departureLocation" >
                    <option>Any Departure</option>
                    <option>Milano</option>
                    <option>Budapest</option>
                    <option>New York</option>
                    <option>Tokyo</option>
                    <option>Mosca</option>
                    <option>Londra</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Arrival:</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="landingLocation">
                    <option>Any Arrival</option>
                    <option>Milano</option>
                    <option>Budapest</option>
                    <option>New York</option>
                    <option>Tokyo</option>
                    <option>Mosca</option>
                    <option>Londra</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Date</label>
              <div class="control is-inline-block">
                <input class="input" [(ngModel)]="departureDay" maxlength="5" name="date" pattern="[0-1][0-9]/[0-3][0-9]"
                       placeholder="dd/mm" type="text" >
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="columns">
              <div class="is-4">
              </div>
              <div class="is-4">
                <div class="field is-grouped is-centered">
                  <div class="control">
                    <button class="button is-success is-centered" type="submit" (click)="submitSearch()">Find Flights!</button>
                  </div>
                </div>
              </div>
              <div class="is-4">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
