<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <form (submit)="submitSearch()">
        <div class="columns">
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Departure:</label>
              <div class="control">
                <div class="select">
                  <select  [(ngModel)]="departureLocation" name="departureLocation">
                    <option  [ngValue]="'all'">Any Departure</option>
                    <option [ngValue]="'Manchester'">Manchester</option>
                    <option [ngValue]="'London'">London</option>
                    <option [ngValue]="'York'">York</option>
                    <option [ngValue]="'Birmingham'">Birmingham</option>
                    <option [ngValue]="'Nottingham'">Nottingham</option>
                    <option [ngValue]="'Portsmouth'">Portsmouth</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Arrival:</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="landingLocation" name="landingLocation">
                    <option [ngValue]="'all'">Any Arrival</option>
                    <option [ngValue]="'Manchester'">Manchester</option>
                    <option [ngValue]="'London'">London</option>
                    <option [ngValue]="'York'">York</option>
                    <option [ngValue]="'Birmingham'">Birmingham</option>
                    <option [ngValue]="'Nottingham'">Nottingham</option>
                    <option [ngValue]="'Portsmouth'">Portsmouth</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label">Date</label>
              <div class="control is-inline-block">
                <input class="input" maxlength="5" name="departureDay" pattern="[0-1][0-9]/[0-3][0-9]"
                       placeholder="dd/mm" type="text" [(ngModel)]="departureDay">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="columns">
              <div class="is-4">
              </div>
              <div class="is-4">
                <div class="field is-grouped is-centered">
                  <div class="control">
                    <button class="button is-success is-centered" type="submit">Find Flights!</button>
                  </div>
                </div>
              </div>
              <div class="is-4">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
